[Desktop Entry]
Version=1.0
Name=Circular-Application-Menu
Exec=/usr/bin/circular-application-menu
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/circular-application-menu/circular-application-menu.png
Categories=Utility;
